
.DS_Store
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
# .swiftpm
.build/

## BucketRelay local config (contains your OCIDs)
config.env
state.env
